{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>Create a new task</h1>
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="name">Name:</label>
                <input type="text" name="name">
            </p>
            <p>
                <label for="start_date">Start date:</label>
                <input type="text" name="start_date">
            </p>
            <p>
                <label for="due_date">Due date:</label>
                <input type="text" name="due_date">
            </p>
            <p>
                <label for="projects">Projects:</label>
                <select name="projects"></select>
            </p>
            <p>
                <label for="assignee">Assignee:</label>
                <select name="assignee"></select>
            </p>
            <button>Create</button>
        </form>
    </div>
{% endblock %}