{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>My Tasks</h1>
        {% if object_list %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Is completed</th>
                </tr>
                {% for task in object_list %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.end_date }}</td>
                        <td>{{ task.is_completed }}</td>
                    </tr>
                {% endfor %}
                {% for task in object_list %}
                    <tr>
                        {% if task.is_completed == True %}
                            <td>Done</td>
                        {% else %}
                            <form method="post" action="{% url 'complete_task' task.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="is_completed" value="True">
                                <button>Complete</button>
                            </form>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
{% endblock %}