{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                <p>
                    <label for="name">Name:</label>
                    <input type="text" name="name">
                </p>
                <p>
                    <label for="description">Description:</label>
                    <textarea name="description"></textarea>
                </p>
                <p>
                    <label for="members">Members:</label>
                    <select name="members"></select>
                </p>
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}