{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if not object_list %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
                {% for data in objects_list %}
                    <tr>
                        <a href="{% url 'detail' project.pk %}">{{ data.name }}</a>
                        <td>{{ data|length }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}